<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Whisky Lab</title>
    <link rel="stylesheet" th:href="@{/css/start.css}">
  </head>
  <body>
  	<header>
  		<h1 class="title">Whisky Lab</h1>
  		<p class="title">ウイスキー比較、検索サイト</p>
  	</header>
  	<nav>
  		<ul>
  			<li><a href="#">はじめての方へ</a></li>
  			<li><a href="#">コラム</a></li>
  			<li><a href="#">ウイスキー一覧</a></li>
  			<li><a href="#">ウイスキーを探す</a></li>
  			<li><a href="#">アンケート・プレゼント</a></li>
  		</ul>
  	</nav>
  	<a th:href="@{/mypage/profile}" class="register">無料会員登録</a><br>
  	<a href="#" class="login">ログイン</a>
  	
  	<p class="featured-ranking">👑ウイスキー注目ランキング</p>
  	
  	<table  style="margin-left:650px; margin-top:-150px;" >
  		<div th:each="whisky,status: ${whiskyList}">
  			<div th:if="${status.index % 3 == 0}"><tr></div>
  			<th>
  				<br>
  				<span th:text="${status.count} + 位"></span><br> 
  				<a th:href="@{'/whisky/detail/' + ${whisky.id}}">
  					<img
                      th:src="@{/img/}  + ${whisky.id} + .jpg"               
                      width="150"
                      height="150">
  				</a>
  				<br>
  				<a th:href="@{#}">
                	<span class="whisky-text" th:text="${whisky.brand} + ',' + ${whisky.maturityYears} + 年"></span><br>  
                	<span class="whisky-text" th:text="${whisky.price} + 円"></span> 
  				</a>
  				<br> 
  			</th>
  			<div th:if="${status.index % 3 == 2}"></tr></div>
  		</div>
  	</table>
  	
  	<div class="bar_title">&nbsp;フレーバー</div>
  	<a href="javascript:void(0)" onclick="show('ウッディ');" class="bar">&nbsp;ウッディ</a>
	<div id="layer_ウッディ" class="close">
		バニラ<br>
		はちみつ<br>
		<a th:href="@{/whisky}" th:text="キャラメル"></a><br>
		ココナッツ<br>
		<a th:href="@{/whisky}" th:text="アーモンド"></a>
	</div>
	<br>
	<div class="bar_title">&nbsp;銘柄</div>
	<a href="javascript:void(0)"  onclick="show('あ');" class="bar">&nbsp;あ～か</a>	
	<div id="layer_あ" class="close">
		あ～か<br>
		さ～た<br>
		な～は<br>
		ま～わ<br>
		<a th:href="@{/whisky}" th:text="アーモンド"></a>
	</div>
	<a href="javascript:void(0)" onclick="show('さ');" class="bar">&nbsp;さ～た</a>	
	<div id="layer_さ" class="close">
		あ～か<br>
		さ～た<br>
		な～は<br>
		ま～わ<br>
		<a th:href="@{/whisky}" th:text="アーモンド"></a>
	</div>
	<br>
	<div class="bar_title">&nbsp;飲み方</div>
	<a th:href="@{whisky/ways/highball}" id="category_折りたたみA" onclick="show('飲み方');" class="bar">&nbsp;ハイボール</a>
	<a href="javascript:void(0)" id="category_折りたたみA" onclick="show('飲み方');" class="bar">&nbsp;水割り</a>
	<a href="javascript:void(0)" id="category_折りたたみA" onclick="show('飲み方');" class="bar">&nbsp;ストレート</a>
	<a href="javascript:void(0)" id="category_折りたたみA" onclick="show('飲み方');" class="bar">&nbsp;ロック</a>
  	<script>
  		function show(inputData){
    		let objID=document.getElementById( "layer_" + inputData );
    		if(objID.className=='close') {
        		objID.style.display='block';
        		objID.className='open';
    		}else{
        		objID.style.display='none';
        		objID.className='close';
    		}
		}
  	</script>
  </body>
</html>