<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Whisky Lab</title>
    <link rel="stylesheet" th:href="@{/css/start.css}">
  </head>
  <body>
  	<header>
  		<h1 class="title">Whisky Lab</h1>
  		<p class="title">ウイスキー比較、検索サイト</p>
  	</header>
  	<nav>
  		<ul>
  			<li><a href="#">はじめての方へ</a></li>
  			<li><a href="#">コラム</a></li>
  			<li><a href="#">ウイスキー一覧</a></li>
  			<li><a href="#">ウイスキーを探す</a></li>
  			<li><a href="#">アンケート・プレゼント</a></li>
  		</ul>
  	</nav>
  	<a th:href="@{/mypage/profile}" class="register">無料会員登録</a><br>
  	<a href="#" class="login">ログイン</a>
  	
  	<p class="featured-ranking">👑ウイスキー注目ランキング</p>
  	
  	<table  style="margin-left:700px;">
  		<div th:each="whisky,status: ${whiskyList}">
  			<div th:if="${status.index % 3 == 0}"><tr></div>
  			<th>
  				<span th:text="${whisky.name}"></span>
  				<img
                      th:src="@{/img/}  + ${whisky.id} + .jpg"
                      class="img-responsive img-rounded item-img-center"
                      width="200"
                      height="600">
                    
  			</th>
  			<div th:if="${status.index % 3 == 2}"></tr></div>
  		</div>
  	</table>
  </body>
</html>